<!DOCTYPE html>
<html>
  <head>
    <title>Sketch Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="navbar">
      <button id="button-wall">
        Gallery
      </button>
      <button id="button-draw">
        Draw
      </button>
      
    </div>
    <div id="drawings-page">
      <h3>
        Here's what other people drew
      </h3>
      <img id="gallery">
  
    </div>
    
    <div id="draw-page" class="hide">
      <div id="container-paint-tools">
        <div id="box1" class="button" tabindex="-1">
          <span class="tooltiptext">Rectangle Tool</span>
          <img src="https://cdn.glitch.com/7d2f95af-704e-4bf6-a612-5222271b592f%2Ficon_shape_rectangle.png?1549202591955" alt="" />
        </div>
        <div id="box2" class="button" tabindex="-1">
          <span class="tooltiptext">Brush Tool</span>
          <img src="https://cdn.glitch.com/7d2f95af-704e-4bf6-a612-5222271b592f%2Ficon_brush.png?1549202591833" alt="" />
        </div>
        <div id="box3" class="button" tabindex="-1">
          <span class="tooltiptext">Text Tool</span>
          <img src="https://cdn.glitch.com/7d2f95af-704e-4bf6-a612-5222271b592f%2Ficon_font.png?1549202591817" alt="" />
        </div>
        <div id="box4" class="button" tabindex="-1">
          <span class="tooltiptext">Eraser Tool</span>
          <img src="https://cdn.glitch.com/7d2f95af-704e-4bf6-a612-5222271b592f%2Ficon_eraser.png?1549202591910" alt="" />
        </div>
        <div id="box5" class="button" tabindex="-1">
          <span class="tooltiptext">Color Picker</span>
          <input id="colorPicker" type="color" value="#00ff00" />
        </div>
      </div>

      <div class="slidecontainer">
        <!-- <p>Brush size</p> -->
        <span> </span>
        <input
          type="range"
          min="1"
          max="50"
          value="10"
          class="slider"
          id="myRange"
        />
      </div>
  <!--     <button onclick="cUndo()">Undo</button>
      <button onclick="cRedo()">Redo</button> -->
      <button id="button-add-drawing">
        Add drawing
      </button>
      <div id="paint">
        <canvas id="canvas"></canvas> <canvas id="canvasShapes"></canvas>
      </div>
      <div id="cursor"></div>
      
    </div>
    
    <script type="text/javascript" src="client.js"></script>
  </body>
</html>
