<!DOCTYPE html>
<html>
  <head>
    <title>Sketch Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
      
    <div id="navbar">
      <h3>The Sketchboard</h3>

      <button id="button-wall" class="navButton selected">
        Gallery
      </button>
      <button id="button-draw" class ="navButton">
        Draw
      </button>

    </div>


    <div id="drawings-page" class="main">
      <h3>
        Here's what people drew.
      </h3>
      <div id="gallery">

      </div>
    </div>

    <div id="draw-page" class="main hide">
      
      <div id="draw-page-top">
        <div class="slidecontainer">
          <input
            type="range"
            min="1"
            max="100"
            value="10"
            class="slider"
            id="myRange"
          />
        </div>

        <button id="button-add-drawing" class="button">
          Post!
        </button>
      </div>
      
      <div id="draw-page-bottom">
        
        <div id="paint-tools">
          
          <div id="clear" class="button" tabindex="-1">
            <span class="tooltiptext">Clear Drawing</span>
            <img src="https://cdn.glitch.com/80207505-94a5-4126-88f1-0c416c4c578b%2Ficonfinder_trash-o_1608715.svg?1549383878272" alt="" />
          </div>
          <div id="box1" class="button" tabindex="-1">
            <span class="tooltiptext">Rectangle Tool</span>
            <img src="https://cdn.glitch.com/80207505-94a5-4126-88f1-0c416c4c578b%2Ficonfinder_186_FormRoundedBorder_183304.svg?1549383881693" alt="" />
          </div>
          <div id="box2" class="button" tabindex="-1">
            <span class="tooltiptext">Pen Tool</span>
            <img src="https://cdn.glitch.com/80207505-94a5-4126-88f1-0c416c4c578b%2Ficonfinder_office-41_809593.svg?1549383887746" alt="" />
          </div>
          <div id="box3" class="button" tabindex="-1">
            <span class="tooltiptext">Text Tool</span>
            <img src="https://cdn.glitch.com/7d2f95af-704e-4bf6-a612-5222271b592f%2Ficon_font.png?1549202591817" alt="" />
          </div>
          <div id="box4" class="button" tabindex="-1">
            <span class="tooltiptext">Eraser Tool</span>
            <img src="https://cdn.glitch.com/80207505-94a5-4126-88f1-0c416c4c578b%2Ficonfinder_eraser_1608679.svg?1549383889632" alt="" />
          </div>
          <div id="box5" class="button" tabindex="-1">
            <span class="tooltiptext">Color Picker</span>
            <img src="https://cdn.glitch.com/2a9678cc-2469-489c-826e-bc08e4e8c529%2Ficonfinder_Palette_1021028.svg?1549400209295" alt="" />
            
            <input id="colorPicker" type="color" value="#00ff00" />
            
          </div>
          
        </div>

        <div id="paint">
          <canvas id="canvas" class="canvas"></canvas> <canvas id="canvasShapes" class="canvas"></canvas>
        </div>
        
        
      </div>
      
    </div>
    <div id="cursor"></div>
      


    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
    
    <script type="text/javascript" src="client.js"></script>
  </body>
</html>
