* {
  margin: 0;
  padding: 0;
  border:1px solid black;
} 

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
} 

h3 {
  margin:0;
  padding:0;
  display:inline-block;
}
.main {
  margin-top:5vh; 
}

#paint {
  background: white;
  display: block;
  float: left;
  overflow: hidden;
  z-index: 5;
}
#paint:hover {
  cursor: none;
}
.canvas {
  position: absolute;
}

.button {
  
}
.button:hover {
 
}
.button:active {
  
}
.button.button-selected {
 
}
/* Tooltip text */
.button .tooltiptext {
  white-space: nowrap;
  pointer-events: none;
  visibility: hidden;
  /* width: 120px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 6px;
  border-radius: 4px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 110%;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
#button-add-drawing {
  
}

/* Show the tooltip text when you mouse over the tooltip container */
.button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.button:focus .tooltiptext {
  display: none;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 166px; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 20px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
#canvas {
  z-index: 1;
}
#canvasShapes {
  z-index: 2;
}
#cursor {
  pointer-events: none;
  position: absolute;
  border: 2px solid black;
  opacity: 0.4;
  z-index: 3;
  border-radius: 100%;
}
textarea {
  z-index: 4;
}
#colorPicker:hover {
  cursor: pointer;
}
#navbar {
  height
  position:fixed;
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
}
#navbar > button {
  border-left: 1px solid #ccc;
  background:inherit;
  border-radius: none;
}

#navbar > button.selected {
  border:none;
  background:white;
  border-radius: 10px 10px 0 0;
}
#navbar > button:focus {
  border: none;
  outline:none;
}
#draw-page {
  width:100vw;
  height:100vh;
  position: fixed;
}
#drawings-page {
  width:100vw;
  height:100vh;
  overflow-y:scroll;
}
.drawing {
  border:1px solid black; 
}
