* {
  margin: 0;
  padding: 0;
/*   border:1px solid black; */
  font-family: 'Scope One', serif;
  font-size:2vh;
} 

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: #fff;
} 

h3 {
  margin:0;
  padding:0;
  display:inline-block;
}
.hide {
  display:none; 
}

.main {
  margin-top:50px; 
}

#paint {
  background: white;
  display: block;
  float: left;
  overflow: hidden;
  width:100%;
  height:100%;
/*   margin-bottom: 10vh;
  margin-right: 5vh; */
  z-index: 5;
}
#paint:hover {
  cursor: none;
}
.canvas {
  position: absolute;
  border:1px solid #ccc;
}

.button {
  transition: all 0.3s;
  cursor:pointer;
  border:1px solid #eee;
}
.button#clear:hover {
  background:red;
}
.button:hover {
  background:#eee;
}
.button:focus {
  outline:none;
/*   border:none; */
}
.button:active {
  outline:none;
/*   border:none; */
}
.button.button-selected {
  background:yellow;
}
/* Tooltip text */
.button .tooltiptext {
  white-space: nowrap;
  pointer-events: none;
  visibility: hidden;
  /* width: 120px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 6px;
  border-radius: 4px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 110%;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
#button-add-drawing {
  grid-column: 3/4;
  margin: 1vh 0;
  width:100px;
  border-radius:1vw;
  background:yellow;
  font-size:2vh;
  transition: all 0.3s;
}
#button-add-drawing:hover {
  border:0;
  opacity:1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.button:focus .tooltiptext {
  display: none;
}
.slidecontainer {
  grid-column: 2/3; 
}
/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height:2vh; /* Specified height */
  margin-top:2vh;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 0;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 4vh; /* Set a specific slider handle width */
  height: 4vh; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius:100%;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
#canvas {
  z-index: 1;
}
#canvasShapes {
  z-index: 2;
}
#cursor {
  pointer-events: none;
  position: absolute;
  border: 2px solid black;
  opacity: 0.4;
  z-index: 3;
  border-radius: 100%;
}
textarea {
  z-index: 4;
}
#colorPicker:hover {
  cursor: pointer;
}
#navbar {
  top:0;
  margin:0;
  background:white;
  height:7vh;
  max-height:50px;
  position:absolute;
  display: grid;
  grid-template-columns: 30vw 10vw 10vw 50vw;
  border-bottom:1px solid #ddd;
}
#navbar > h3 {
  margin-top:1vh;
  padding-left: 2vw;
/*   padding-top:1vh; */
  font-size:16pt;
  background:white;
  pointer-events:none;
}
#navbar > button {
  transition: all 0.3s;
  cursor:pointer;
  text-align: center;
/*   padding-left:1vw; */
  border:0;
  border:1px solid #ddd;
  font-size:14pt;
  background:inherit;
}
#navbar > button:hover {
  color:orange;
}

#navbar > button.selected {
  color:orange;
/*    background:#f8f8f8; */
}
#navbar > button:focus {
/*   border: none; */
  outline:none;
}
#draw-page {
  height:93vh;
  overflow:hidden;
  position: fixed;
  display:grid;
  grid-template-rows: 7vh 86vh;
}
#draw-page.hide {
  display:none; 
}
#draw-page-top {
  display:grid;
  grid-template-columns: 10vw 25vw 65vw;
}
#draw-page-bottom {
  display:grid;
  grid-template-columns: 10vw 90vw;
}
#paint-tools {
 display:grid;
  grid-template-rows: 6vh 6vh 6vh 6vh 6vh 6vh;
  justify-content:center;
}
#colorPicker {
  opacity:0.4;
  margin-top:-7vh;
  width:6vh;
  height:6vh;
  position:absolute;
}
#paint-tools .button {
  display:inline-block;
  max-width:6vh;
  height:100%;
  cursor:pointer;
}
#paint-tools .button > img {
  width:80%;
  height:80%;
  padding:10%;
  
}

#drawings-page.hide {
  display:none; 
}
.main#drawings-page {
  margin-top:50px;
  width:100vw;
}
#drawings-page > h3 {
  padding: 20px 2vw;
/*   font-size:4vh; */
  font-size: 14pt;
}
#gallery {
  display:block;
  overflow:auto;
  min-height:90vh;
}
.drawing {
  float:left; 
  display:block;
  border:1px solid #ccc; 
}

@media screen 
  and (max-device-width: 600px) and (orientation: portrait){
    #navbar > h3 {
    display:none;  
  }
  #cursor {
    display:none;  
  }
  #navbar {
    grid-template-columns: 50vw 50vw;
    max-height:7vh;
  }
  #navbar > button {
    font-size:3vh;
  }
  .main#drawings-page {
    background: #f8f8f8;
    margin-top:7vh;
    width:100vw;
  }
  #drawings-page > h3 {
    padding: 20px 4vw;
  /*   font-size:4vh; */
    font-size:3.5vh;
  }
    
  .slidecontainer {
    grid-column: 1/2; 
    margin-left:2vw;
  }
  #button-add-drawing {
    grid-column: 2/3;
    width:40%;
  }
  #draw-page-top {
    grid-template-columns: 50vw 50vw;
  }
  #draw-page-bottom {
    grid-template-columns: 8vh 92vh;
  }
  #paint-tools {
    grid-template-rows: 8vh 8vh 8vh 8vh 8vh 8vh;
  }
  #paint-tools .button {
    max-width:8vh;
  }
  #colorPicker {
    margin-top:-9vh;
    width:7.5vh;
    height:8vh;
  }
    
  .main {
    margin-top:7vh; 
  } 
}

@media screen 
  and (max-device-width: 1100px) and (orientation: landscape){
  #cursor {
    display:none;  
  }
  .slider {
    margin-top:3vh;  
  }
  .slider::-webkit-slider-thumb {
    width: 5vh; 
    height: 5vh; 
  }
  #draw-page {
    grid-template-rows: 10vh 90vh;
    margin-top:10vh;
  }
  #navbar {
    max-height:10vh;
    height:10vh;
  }
  #navbar > h3 {
    margin-top: 2vh;
  }
  #navbar > button {
    font-size:3vh;
  }
  #button-add-drawing {
    width:80px;
    font-size:3vh;
  }
  .main#drawings-page {
    background: #f8f8f8;
    margin-top:7vh;
    width:100vw;
  }
  #drawings-page > h3 {
    padding: 20px 4vw;
  /*   font-size:4vh; */
    font-size:3.5vh;
  }
  #draw-page-bottom {
    display:grid;
    grid-template-columns: 10vw 90vw;
  }
  
  #paint-tools {
    grid-template-rows: 8vh 8vh 8vh 8vh 8vh 8vh;
  }
  #paint-tools .button {
    max-width:8vh;
  }
  #colorPicker {
    margin-top:-9vh;
    width:7.5vh;
    height:8vh;
  }
    
  .main {
    margin-top:7vh; 
  } 
}