* {
  margin: 0;
  padding: 0;
/*   border:1px solid black; */
  font-family: 'Scope One', serif;
  font-size:2vh;
} 

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
} 

h3 {
  margin:0;
  padding:0;
  display:inline-block;
}
.hide {
  display:none; 
}

.main {
  margin-top:5vh; 
}
.navButton {
   font-size:2vh;
  text-align:left;
  padding-left:1vw;
}
.navButton:hover {
  cursor:pointer; 
}

#paint {
  background: white;
  display: block;
  float: left;
  overflow: hidden;
  z-index: 5;
}
#paint:hover {
  cursor: none;
}
.canvas {
  position: absolute;
  border:1px solid #ccc;
}

.button {
  border:1px solid #ccc;
}
.button:hover {
  cursor:pointer;
  background:#eee;
}
.button:focus {
  outline:none;
  border:none;
}
.button:active {
  outline:none;
  border:none;
}
.button.button-selected {
  background: lightblue;
}
/* Tooltip text */
.button .tooltiptext {
  white-space: nowrap;
  pointer-events: none;
  visibility: hidden;
  /* width: 120px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 6px;
  border-radius: 4px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 110%;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
#button-add-drawing {
  margin: 1vh 0;
  width:25%;
  min-width: 25%;
  max-width:40%;
  border-radius:1vw;
  background:yellow;
  font-size:2vh;
  opacity:0.8;
  transition: all 0.3s;
}
#button-add-drawing:hover {
  border:0;
  opacity:1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.button:focus .tooltiptext {
  display: none;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height:2vh; /* Specified height */
  margin-top:2vh;
  margin-left:2vw;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 0;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 4vh; /* Set a specific slider handle width */
  height: 4vh; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius:100%;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
#canvas {
  z-index: 1;
}
#canvasShapes {
  z-index: 2;
}
#cursor {
  pointer-events: none;
  position: absolute;
  border: 2px solid black;
  opacity: 0.4;
  z-index: 3;
  border-radius: 100%;
}
textarea {
  z-index: 4;
}
#colorPicker:hover {
  cursor: pointer;
}
#navbar {
  top:0;
  margin:0;
  background:#ddd;
  height:5vh;
  position:fixed;
  display: grid;
  grid-template-columns: 25vw 37.5vw 37.5vw;
}
#navbar > span {
  padding-left: 2vw;
  padding-top:1vh;
}
#navbar > button {
  border:none;
  border-left: 1px solid #ccc;
  background:inherit;
  border-radius: 0;
  margin-top:1vh;
  margin-left:1vw;
}

#navbar > button.selected {
  background: #eee;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
}
#navbar > button:focus {
/*   border: none; */
  outline:none;
}
#draw-page {
  background: #eee;
  height:95vh;
  overflow:hidden;
  position: fixed;
  display:grid;
  grid-template-rows: 7vh 88vh;
}
#draw-page.hide {
  display:none; 
}
#draw-page-top {
  display:grid;
  grid-template-columns: 50vw 50vw;
}
#draw-page-bottom {
  display:grid;
  grid-template-columns: 15vw 85vw;
}
#paint-tools {
 display:grid;
  grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh;
  justify-content:center;
  
}
#colorPicker {
  width:100%;
  height:100%;
}
#paint-tools .button {
  display:inline-block;
  max-width:10vh;
  height:100%;
  cursor:pointer;
}
#paint-tools .button > img {
  width:100%;
  height:100%;
  
}
#drawings-page.hide {
  display:none; 
}
.main#drawings-page {
  background: #eee;
  margin-top:5vh;
  width:100vw;
/*   height:100vh; */
/*   overflow-y: scroll;
  overflow-x: hidden; */
}
#drawings-page > h3 {
  height:5vh;
  text-align:center;
  padding-left: 2vw;
  padding-top:2vh;
}
.drawing {
  border:1px solid black; 
}
@media only screen and (max-width: 600px) {
  #navbar > span {
    display:none;  
  }
  #navbar {
    grid-template-columns: 50vw 50vw;
    
  }
  
}